<dl class="payment-details">
  <dt><%= payment_card.brand %></dt>
  <dd class="icon"><%= payment_card.icon %></dd>
  <dd class="number"><%= payment_card.number %></dd>
  <dd class="exp"><%= payment_card.expiration %></dd>
  <dd class="edit"><a href="<%= customer_information_for_store_order_path %>">edit</a></dd>
</dl>
