<div id="uploader_target" data-bind="template: 'singleUpload'">
</div>
<!-- here we add widgetizied file input section iteslf -->
<div id="file-input-section"></div>
<%= form.input :caption %>
<%= form.input :url, :label => "URL" %>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function () {
      var existing = null;
      <% if @section.image_uid.present? %>
        existing = Chippd.FileUpload.fromJS({
          id: "<%= @section.image_uid %>",
          url: "<%= @section.image.remote_url %>"
        }, Chippd.Image);

        var result = {};
        result.id='<%= @section.image_uid %>';
        result.url='<%= @section.image.remote_url %>';
        var files = [];
        files.push(result);
       // files.push(null);
     <% else %>
        files = null;
      <% end %>

    //$("#uploader_target").initSingleUpload(existing, Chippd.Image);
    /*jquery upload part*/
          // Initialize the jQuery File Upload widget:

          $('#uploader').fileupload({
              // Uncomment the following to send cross-domain cookies:
              //xhrFields: {withCredentials: true},
              url: '/documents',
              autoUpload: false,
              acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            maxFileSize: 5000000,
            existingFiles : files
        });

        //testing existing file template
    /*jquery upload part ends*/
    });
  </script>
<% end %>
