<label class="section-label">The Characters</label>
<%= form.input :name_one, label: 'Name ' %>
<%= form.input :name_two, label: "Fiancé/Fiancée's Name" %>
<%= form.input :wedding_date, as: :datepicker, wrapper: :append, input_html: { value: @section.formatted_wedding_date, 'data-format' => 'yyyy-MM-dd' } %>

<hr class="section-divider">
<label class="section-label">Memorable Moments</label>

<!--<div id="uploader_target" data-bind="template: 'uploads'">
  <p style="color: #ccc">Loading...</p>
</div>-->

<% content_for :javascripts do %>
    <script type="text/javascript">
        $(function () {
            var existing = Chippd.FileUpload.fromJS(
                    <%= raw @section.timeline_assets_json %>,
                    Chippd.TimelineAsset
            );

            var files = JSON.parse('<%= raw @section.timeline_assets_json %>');

            // KO uploader

            /* $("#uploader_target").initMultiUpload(existing, {
             type: Chippd.TimelineAsset,
             max: <%= Timeline::MAXIMUM_NUMBER_OF_ASSETS %>,
             min: <%= Timeline::MINIMUM_NUMBER_OF_ASSETS %>
             });
             */
            //jQuery multi uploader
            $('#uploader').fileupload({
                // Uncomment the following to send cross-domain cookies:
                //xhrFields: {withCredentials: true},
                url                 : '/documents',
                multiUpload         : true,
                fileInputTemplateId  : 'timeline_multi_upload',
                autoUpload          : false,
                acceptFileTypes     : /(\.|\/)(gif|jpe?g|png)$/i,
                maxFileSize         : 5000000,
                existingFiles       : files
            });


            //jQuery multi uploader ends...
        });
    </script>
<% end %>

<!-- here we add widgetizied file input section iteslf -->
<div class="playlist-container">
  <!-- file input tempalte -->
  <div id="file-input-section">
    <!-- wedding_multi_upload will be repeated...-->
  </div>
  <div>
    <!-- ko template: "uploads_footer" --><!-- /ko -->
    <div class="links">
      <a class="add-instance" data-bind="click: addGroomsman" ><span class="icon">+</span><span class="text">add another</span>
      </a>
    </div>
  </div>
</div>
