<html>
<head>
  <title>Chipp'd | Invoice <%= presented_order.number %></title>

  <style>
    * {
      margin: 0;
      padding: 0;
    }

    body {
      font-size: 100%;
      color: #411750;
      font-family: sans-serif;
    }

    ul {
      list-style-type: none;
    }

    p, td, th, li {
      font-size: 12px;
      line-height: 17px;
    }

    a {
      color: #411750;
      text-decoration: none;
    }

    table {
      width: 100%;
      border: none;
      border-collapse: collapse;
      margin-bottom: 30px;
    }

    th, td {
      padding: 10px;
      text-align: left;
      vertical-align: top;
    }

    th {
      border-bottom: 7px solid #411750;
      white-space: nowrap;
    }

    .container {
      padding: 20px 10px;
    }

    header[role='masthead'] {
      overflow: hidden;
      text-align: center;
      margin-bottom: 40px;
      padding: 0 10px 40px 10px;
      border-bottom: 7px solid #411750;
    }
    header[role='masthead'] .text {
      display: inline-block;
      float: left;
      width: 170px;
      height: auto;
      margin: 40px 0 0 0;
    }
    header[role='masthead'] .logo {
       height: 100px;
       width: auto;
    }
    header[role='masthead'] ul {
      text-align: left;
      float: right;
      margin-top: 25px;
    }
    h1 {
      font-size: 1.5em;
      padding-left: 10px;
      margin-bottom: 10px;
    }
    .shipping {
      margin-bottom: 0;
    }

    .adr .street-address {
      display: block;
    }

    .info {
      padding: 0 0 20px 10px;
    }

    .items {
    }

    .items td {
      border-bottom: 1px solid #888;
    }

    .items .totals td {
      border: none;
    }

    .items td.payment {
      text-align: right;
      vertical-align: bottom;
    }

    .items td.labels li {
      text-align: right;
      font-weight: bold;
    }

    footer {
      width: 75%;
      margin: 60px auto 0;
      text-align: center;
    }

    footer p {
      padding: 20px 0 0 0;
    }

  </style>

</head>
<body>

  <div class="container">

    <header role="masthead">
        <%= image_tag('logo-wordmark.png', :class => 'text', :alt => "Chipp'd — Made in NYC") %>
        <%= image_tag('logo-nyc.png', :class => 'logo', :alt => "Chipp'd — Made in NYC") %>
        <ul>
          <li>Chipp'd Ltd.</li>
          <li>175 Varick Street</li>
          <li>New York, NY 10014</li>
          <li><a href="mailto:orders@chippd.com">orders@chippd.com</a></li>
        </ul>
    </header>

    <h1>Customer Invoice</h1>

    <p class="info">Order No. <%= presented_order.number %><br/>You placed this order on <%= presented_order.purchased_at.stamp(configatron.date_formats.invoice) %> and paid with your <%= presented_order.payment_card.brand %> ending in <%= presented_order.payment_card.last4 %>.</p>

    <table class="shipping">
      <tr>
        <th>bill to</th>
        <th>ship to</th>
      </tr>
      <tr>
        <td>
          <%= render :partial => '/store/orders/address_vcard', :locals => { :address => AddressPresenter.new(presented_order.billing_address, self), :editable => false } %>
        </td>
        <td>
          <%= render :partial => '/store/orders/address_vcard', :locals => { :address => AddressPresenter.new(presented_order.shipping_address, self), :editable => false } %>
        </td>
      </tr>
    </table>

    <table class="items">
      <thead>
        <tr>
          <th>qty</th>
          <th>item</th>
          <th>price</th>
          <th>total</th>
        </tr>
      </thead>
      <tbody>
        <% presented_order.line_items.each do |line_item| %>
        <tr>
          <td><%= line_item.quantity %></td>
          <td><%= line_item.link_to_product %><br/><%= line_item.options %></td>
          <td><%= line_item.price_each %></td>
          <td><%= line_item.price %></td>
        </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr class="totals">
          <td colspan="2"></td>
          <td class="labels">
            <ul id="order-total">
              <li class="subtotal">Subtotal:</li>
<% if presented_order.has_discount? %>
              <li class="discount">Discount:</li>
<% end %>
              <li class="shipping">Shipping (<%= presented_order.shipping_option %>):</li>
              <li class="tax">Sales Tax:</li>
              <li class="total">Grand Total:</li>
            </ul>
          </td>
          <td>
            <ul id="order-total">
              <li class="subtotal"><%= presented_order.formatted_subtotal %></li>
<% if presented_order.has_discount? %>
              <li class="discount">-<%= presented_order.formatted_discount_amount %></li>
<% end %>
              <li class="shipping"><%= presented_order.formatted_shipping_cost %></li>
              <li class="tax"><%= presented_order.formatted_sales_tax %></li>
              <li class="total"><%= presented_order.formatted_total %></li>
            </ul>
          </td>
        </tr>
      </tfoot>
    </table>

    <footer>
      <h4>Thank you for ordering from Chipp’d!  We hope you enjoy your products.  Now that we've connected, don’t be a stranger!</h4>
      <p><strong>Need to return something?</strong> Return your product within 10 days of receipt for a full refund. No questions asked. To learn more, visit chippd.com.</p>
    </footer>
  </div>

</body>
</html>