<%= content_for(:heading, "Reset Your Password") %>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.error_notification %>

<div class="inputs">
  <%= f.input :email, :required => true %>
</div>

<div class="actions">
  <%= f.button :submit, "Send Me Instructions", :class => "btn-large" %>
</div>
<% end %>

<p class="links"><%= render "links" %></p>