<!doctype html>
<!--[if IE 7]> <html class="no-js ie7 ie" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 ie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>About Baby | By Chipp&#x27;d</title>

  <%= stylesheet_link_tag "baby" %>

  <script type="text/javascript" src="//use.typekit.net/sxk1gie.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <div class="container">
    <section id="about" class="widget">
      <h1 class="sectionHeading">About Baby</h1>
      <div class="framedPhoto">
        <%= image_tag("widgets/baby-temp.jpg", :width => 552, :height => 394, :alt => "Baby Photo") %>
        <%= image_tag("widgets/frame.png", :width => 552, :height => 394, :alt => "") %>
      </div>
      <!-- /framedPhoto -->
      <h2 class="largeBanner">Bobby Michael Smith</h2>
      <div class="detailList">
        <ul class="grid group">
          <li class="date full">January 1, 2013</li>
          <li class="weight half">8 <abbr title="pounds">lbs</abbr> 11 <abbr title="ounces">oz</abbr></li>
          <li class="length half">21.5 <abbr title="inches">in</abbr></li>
        </ul>
      </div>
    </section>
    <!-- /about -->
    <section id="family" class="widget">
      <h1 class="sectionHeading">Family</h1>
      <ul class="avatarList">
        <li class="group">
          <h1>John Smith <em>/ Father</em></h1>
          <span class="avatar">
            <%= image_tag("temp/delete-temp-avatar.jpg", :width => 206, :height => 206, :alt => "John Smith / Father") %>
          </span>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Sed aliquam egestas nulla. Maecenas eu mollis sapien, vitae
          ultricies elit. Morbi eu est tellus</p>
        </li>
        <li class="group">
          <h1>Jane Smith <em>/ Mother</em></h1>
          <span class="avatar">
            <%= image_tag("temp/delete-temp-avatar2.jpg", :width => 206, :height => 206, :alt => "Jane Smith / Mother") %>
          </span>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Sed aliquam egestas nulla. Maecenas eu mollis sapien, vitae
          ultricies elit. Morbi eu est tellus</p>
        </li>
      </ul>
      <!-- /avatarList -->
    </section>
    <!-- /family -->
    <section id="beforeBaby" class="widget">
      <h1 class="sectionHeading">Before Baby</h1>
      <h2>Month 3</h2>
      <div class="framedPhoto">
        <%= image_tag("temp/delete-temp-baby2.jpg", :width => 552, :height => 394, :alt => "Baby Photo") %>
        <%= image_tag("widgets/frame.png", :width => 552, :height => 394, :alt => "") %>
      </div>
      <!-- /framedPhoto -->
      <h2>Month 6</h2>
      <div class="framedPhoto">
        <%= image_tag("temp/delete-temp-baby2.jpg", :width => 552, :height => 394, :alt => "Baby Photo") %>
        <%= image_tag("widgets/frame.png", :width => 552, :height => 394, :alt => "") %>
      </div>
      <!-- /framedPhoto -->
    </section>
    <!-- /beforeBaby -->
    <section id="babyArrives" class="widget">
      <h1 class="sectionHeading">Baby Arrives</h1>
      <div class="framedPhoto">
        <%= image_tag("widgets/baby-temp.jpg", :width => 552, :height => 394, :alt => "Baby Photo") %>
        <%= image_tag("widgets/frame.png", :width => 552, :height => 394, :alt => "") %>
      </div>
      <!-- /framedPhoto -->
      <ul class="grid group">
        <li class="full"><em>Born on</em> January 1, 2013</li>
        <li class="half">8 <abbr title="pounds">lbs</abbr> 11 <abbr title="ounces">oz</abbr></li>
        <li class="half right">21.5 <abbr title="inches">in</abbr></li>
        <li class="full">St. Joseph's Hospital</li>
        <li class="full"><em>Born to</em> John &amp; Jane Smith</li>
      </ul>
      <h2 class="smallBanner">On the day Bobby was born</h2>
      <ul class="grid group">
        <li class="full"><em>US President</em> Barack Obama</li>
        <li class="full"><em>Earth Population</em> 7 Billion</li>
        <li class="full"><em>Top of Charts</em> Lady Gaga, Daft Punk</li>
      </ul>
    </section>
    <!-- /babyArrives -->
    <section id="babyGrows" class="widget">
      <h1 class="sectionHeading">Baby Grows</h1>
      <h2 class="smallBanner">February 3, 2013</h2>
      <ul class="grid group">
        <li class="full">1 Month Old</li>
        <li class="half">15 <abbr title="pounds">lbs</abbr> 4 <abbr title="ounches">oz</abbr></li>
        <li class="half">30 <abbr title="inches">in</abbr></li>
      </ul>
      <h2 class="smallBanner">March 7, 2013</h2>
      <ul class="grid group">
        <li class="full">2 Months Old</li>
        <li class="half">20 <abbr title="pounds">lbs</abbr> 7 <abbr title="ounches">oz</abbr></li>
        <li class="half">40 <abbr title="inches">in</abbr></li>
      </ul>
    </section>
    <!-- /babyGrows -->
    <section id="babysFirst" class="widget">
      <h1 class="sectionHeading">Baby's First</h1>
      <h2>First Footprint</h2>
      <div class="framedPhoto">
        <%= image_tag("temp/delete-temp-foot.jpg", :width => 552, :height => 394, :alt => "Bobby's first foot print") %>
        <%= image_tag("widgets/frame.png", :width => 552, :height => 394, :alt => "") %>
      </div>
      <!-- /framedPhoto -->
      <h2>First Tooth</h2>
      <iframe width="560" height="315" src="//www.youtube.com/embed/gK_ONvzh4lU" frameborder="0" allowfullscreen></iframe>
    </section>
    <!-- /babysFirst -->
    <section id="babysFavorites" class="widget">
      <h1 class="sectionHeading">Baby's Favorites</h1>
      <ul class="grid group">
        <li class="full"><em>Toy</em> Teddy Bear</li>
        <li class="full"><em>Song</em> Rock-A-Bye Baby</li>
        <li class="full"><em>Book</em> Cat in the Hat</li>
        <li class="full"><em>Person</em> Mommy</li>
      </ul>
    </section>
    <!-- /babysFavorites -->
  </div>
  <!-- /container -->
  <footer id="pageFooter">
    &nbsp;
  </footer>
</body>
</html>