<section id="deck">
  <div id="featured" class="flexslider">
    <ul class="slides">

      <!-- 1 KEEPSAKES -->
      <li>
        <div class="slide" data-picture data-alt="Handcrafted keepsakes that unlock special moments">
          <div data-src="<%= asset_path('featured/keepsakes-320.jpg') %>"></div>
          <div data-src="<%= asset_path('featured/keepsakes-600.jpg') %>" data-media="(max-width: 400px) and (min-resolution: 192dpi),(-webkit-min-device-pixel-ramoz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 2dppx)"></div>
          <div data-src="<%= asset_path('featured/keepsakes-480.jpg') %>" data-media="(max-width: 400px)"></div>
          <div data-src="<%= asset_path('featured/keepsakes-600.jpg') %>" data-media="(max-width: 400px) and (min-resolution: 192dpi),(-webkit-min-device-pixel-ramoz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 2dppx)"></div>
          <div data-src="<%= asset_path('featured/keepsakes-800.jpg') %>" data-media="(max-width: 999px)"></div>
          <div data-src="<%= asset_path('featured/keepsakes-1140.jpg') %>" data-media="(max-width: 999px) and (min-resolution: 192dpi),(-webkit-min-device-pixel-ramoz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 2dppx)"></div>
          <div data-src="<%= asset_path('featured/keepsakes-1140.jpg') %>" data-media="(min-width: 1000px)"></div>
          <div data-src="<%= asset_path('featured/keepsakes-1440.jpg') %>" data-media="(min-width: 1000px) and (min-resolution: 192dpi),(-webkit-min-device-pixel-ramoz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 2dppx)"></div>
          <div data-src="<%= asset_path('featured/keepsakes-1440.jpg') %>" data-media="(min-width: 1280px)"></div>
          <div data-src="<%= asset_path('featured/keepsakes-1600.jpg') %>" data-media="(min-width: 1440px)"></div>
          <div data-src="<%= asset_path('featured/keepsakes-1600.jpg') %>" data-media="(min-width: 1280px) and (min-resolution: 192dpi),(-webkit-min-device-pixel-ramoz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 2dppx)"></div>
          <!--[if (lt IE 9) & (!IEMobile)]>
            <div data-src="<%= asset_path('featured/keepsakes-800.jpg') %>"></div>
          -->
          <noscript>
            <img src="<%= asset_path('featured/keepsakes-800.jpg') %>" alt="Handcrafted keepsakes that unlock special moments.">
          </noscript>
        </div>
        <div class="overlay">
          <p><a href="/store" class="buy">Handcrafted keepsakes that unlock special moments. <em>Shop Now</em></a></p>
        </div>
      </li>

      <!-- 2 LOVE -->
      <li>
        <div class="slide" data-picture data-alt="A heart pendant that lets you share a secret romantic page.">
          <div data-src="<%= asset_path('featured/love-320.jpg') %>"></div>
          <div data-src="<%= asset_path('featured/love-600.jpg') %>" data-media="(max-width: 400px) and (min-resolution: 192dpi),(-webkit-min-device-pixel-ramoz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 2dppx)"></div>
          <div data-src="<%= asset_path('featured/love-480.jpg') %>" data-media="(max-width: 400px)"></div>
          <div data-src="<%= asset_path('featured/love-600.jpg') %>" data-media="(max-width: 400px) and (min-resolution: 192dpi),(-webkit-min-device-pixel-ramoz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 2dppx)"></div>
          <div data-src="<%= asset_path('featured/love-800.jpg') %>" data-media="(max-width: 999px)"></div>
          <div data-src="<%= asset_path('featured/love-1140.jpg') %>" data-media="(max-width: 999px) and (min-resolution: 192dpi),(-webkit-min-device-pixel-ramoz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 2dppx)"></div>
          <div data-src="<%= asset_path('featured/love-1140.jpg') %>" data-media="(min-width: 1000px)"></div>
          <div data-src="<%= asset_path('featured/love-1440.jpg') %>" data-media="(min-width: 1000px) and (min-resolution: 192dpi),(-webkit-min-device-pixel-ramoz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 2dppx)"></div>
          <div data-src="<%= asset_path('featured/love-1440.jpg') %>" data-media="(min-width: 1280px)"></div>
          <div data-src="<%= asset_path('featured/love-1600.jpg') %>" data-media="(min-width: 1440px)"></div>
          <div data-src="<%= asset_path('featured/love-1600.jpg') %>" data-media="(min-width: 1280px) and (min-resolution: 192dpi),(-webkit-min-device-pixel-ramoz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 2dppx)"></div>
          <!--[if (lt IE 9) & (!IEMobile)]>
            <div data-src="<%= asset_path('featured/love-800.jpg') %>"></div>
          -->
          <noscript>
            <img src="<%= asset_path('featured/love-800.jpg') %>" alt="A heart pendant that lets you share a secret romantic page.">
          </noscript>
        </div>
        <div class="overlay">
          <p><a href="/store/products/52481d2251a770c6f6000003" class="buy">A heart pendant that lets you share a secret romantic page. <em>Buy Now</em></a></p>
        </div>
      </li>

      <!-- 3 PRIVATE -->
      <li>
        <div class="slide" data-picture data-alt="Greeting cards that let you share a private video message">
          <div data-src="<%= asset_path('featured/private-320.jpg') %>"></div>
          <div data-src="<%= asset_path('featured/private-600.jpg') %>" data-media="(max-width: 400px) and (min-resolution: 192dpi),(-webkit-min-device-pixel-ramoz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 2dppx)"></div>
          <div data-src="<%= asset_path('featured/private-480.jpg') %>" data-media="(max-width: 400px)"></div>
          <div data-src="<%= asset_path('featured/private-600.jpg') %>" data-media="(max-width: 400px) and (min-resolution: 192dpi),(-webkit-min-device-pixel-ramoz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 2dppx)"></div>
          <div data-src="<%= asset_path('featured/private-800.jpg') %>" data-media="(max-width: 999px)"></div>
          <div data-src="<%= asset_path('featured/private-1140.jpg') %>" data-media="(max-width: 999px) and (min-resolution: 192dpi),(-webkit-min-device-pixel-ramoz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 2dppx)"></div>
          <div data-src="<%= asset_path('featured/private-1140.jpg') %>" data-media="(min-width: 1000px)"></div>
          <div data-src="<%= asset_path('featured/private-1440.jpg') %>" data-media="(min-width: 1000px) and (min-resolution: 192dpi),(-webkit-min-device-pixel-ramoz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 2dppx)"></div>
          <div data-src="<%= asset_path('featured/private-1440.jpg') %>" data-media="(min-width: 1280px)"></div>
          <div data-src="<%= asset_path('featured/private-1600.jpg') %>" data-media="(min-width: 1440px)"></div>
          <div data-src="<%= asset_path('featured/private-1600.jpg') %>" data-media="(min-width: 1280px) and (min-resolution: 192dpi),(-webkit-min-device-pixel-ramoz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 2dppx)"></div>
          <!--[if (lt IE 9) & (!IEMobile)]>
            <div data-src="<%= asset_path('featured/private-800.jpg') %>"></div>
          -->
          <noscript>
            <img src="<%= asset_path('featured/private-800.jpg') %>" alt="Greeting cards that let you share a private video message">
          </noscript>
        </div>
        <div class="overlay">
          <p><a href="/store/love/products" class="buy">Greeting cards that let you share a private video message. <em>Get Love</em></a></p>
        </div>
      </li>

      <!-- 4 PARTY -->
      <li>
        <div class="slide" data-picture data-alt="Greeting cards for big (and little) celebrations">
          <div data-src="<%= asset_path('featured/party-320.jpg') %>"></div>
          <div data-src="<%= asset_path('featured/party-600.jpg') %>" data-media="(max-width: 400px) and (min-resolution: 192dpi),(-webkit-min-device-pixel-ramoz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 2dppx)"></div>
          <div data-src="<%= asset_path('featured/party-480.jpg') %>" data-media="(max-width: 400px)"></div>
          <div data-src="<%= asset_path('featured/party-600.jpg') %>" data-media="(max-width: 400px) and (min-resolution: 192dpi),(-webkit-min-device-pixel-ramoz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 2dppx)"></div>
          <div data-src="<%= asset_path('featured/party-800.jpg') %>" data-media="(max-width: 999px)"></div>
          <div data-src="<%= asset_path('featured/party-1140.jpg') %>" data-media="(max-width: 999px) and (min-resolution: 192dpi),(-webkit-min-device-pixel-ramoz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 2dppx)"></div>
          <div data-src="<%= asset_path('featured/party-1140.jpg') %>" data-media="(min-width: 1000px)"></div>
          <div data-src="<%= asset_path('featured/party-1440.jpg') %>" data-media="(min-width: 1000px) and (min-resolution: 192dpi),(-webkit-min-device-pixel-ramoz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 2dppx)"></div>
          <div data-src="<%= asset_path('featured/party-1440.jpg') %>" data-media="(min-width: 1280px)"></div>
          <div data-src="<%= asset_path('featured/party-1600.jpg') %>" data-media="(min-width: 1440px)"></div>
          <div data-src="<%= asset_path('featured/party-1600.jpg') %>" data-media="(min-width: 1280px) and (min-resolution: 192dpi),(-webkit-min-device-pixel-ramoz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 2dppx)"></div>
          <!--[if (lt IE 9) & (!IEMobile)]>
            <div data-src="<%= asset_path('featured/party-800.jpg') %>"></div>
          -->
          <noscript>
            <img src="<%= asset_path('featured/party-800.jpg') %>" alt="Greeting cards for big (and little) celebrations">
          </noscript>
        </div>
        <div class="overlay">
          <p><a href="/store/party/products" class="buy">Greeting cards for big (and little) celebrations. <em>Get Party</em></a></p>
        </div>
      </li>

      <!-- 5 WEDDING -->
      <li>
        <div class="slide" data-picture data-alt="A wedding invitation, website, and favor - all in one">
          <div data-src="<%= asset_path('featured/wedding-320.jpg') %>"></div>
          <div data-src="<%= asset_path('featured/wedding-600.jpg') %>" data-media="(max-width: 400px) and (min-resolution: 192dpi),(-webkit-min-device-pixel-ramoz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 2dppx)"></div>
          <div data-src="<%= asset_path('featured/wedding-480.jpg') %>" data-media="(max-width: 400px)"></div>
          <div data-src="<%= asset_path('featured/wedding-600.jpg') %>" data-media="(max-width: 400px) and (min-resolution: 192dpi),(-webkit-min-device-pixel-ramoz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 2dppx)"></div>
          <div data-src="<%= asset_path('featured/wedding-800.jpg') %>" data-media="(max-width: 999px)"></div>
          <div data-src="<%= asset_path('featured/wedding-1140.jpg') %>" data-media="(max-width: 999px) and (min-resolution: 192dpi),(-webkit-min-device-pixel-ramoz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 2dppx)"></div>
          <div data-src="<%= asset_path('featured/wedding-1140.jpg') %>" data-media="(min-width: 1000px)"></div>
          <div data-src="<%= asset_path('featured/wedding-1440.jpg') %>" data-media="(min-width: 1000px) and (min-resolution: 192dpi),(-webkit-min-device-pixel-ramoz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 2dppx)"></div>
          <div data-src="<%= asset_path('featured/wedding-1440.jpg') %>" data-media="(min-width: 1280px)"></div>
          <div data-src="<%= asset_path('featured/wedding-1600.jpg') %>" data-media="(min-width: 1440px)"></div>
          <div data-src="<%= asset_path('featured/wedding-1600.jpg') %>" data-media="(min-width: 1280px) and (min-resolution: 192dpi),(-webkit-min-device-pixel-ramoz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 2dppx)"></div>
          <!--[if (lt IE 9) & (!IEMobile)]>
            <div data-src="<%= asset_path('featured/wedding-800.jpg') %>"></div>
          -->
          <noscript>
            <img src="<%= asset_path('featured/wedding-800.jpg') %>" alt="A wedding invitation, website, and favor - all in one">
          </noscript>
        </div>
        <div class="overlay">
          <p><a href="/store/wedding/products" class="buy">A wedding invitation, website, and favor - all in one. <em>Get Wedding</em></a></p>
        </div>
      </li>

      <!-- 6 PAGE BUILDER -->
      <li>
        <div class="slide" data-picture data-alt="A fun and friendly page builder for every occasion">
          <div data-src="<%= asset_path('featured/page-builder-320.jpg') %>"></div>
          <div data-src="<%= asset_path('featured/page-builder-600.jpg') %>" data-media="(max-width: 400px) and (min-resolution: 192dpi),(-webkit-min-device-pixel-ramoz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 2dppx)"></div>
          <div data-src="<%= asset_path('featured/page-builder-480.jpg') %>" data-media="(max-width: 400px)"></div>
          <div data-src="<%= asset_path('featured/page-builder-600.jpg') %>" data-media="(max-width: 400px) and (min-resolution: 192dpi),(-webkit-min-device-pixel-ramoz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 2dppx)"></div>
          <div data-src="<%= asset_path('featured/page-builder-800.jpg') %>" data-media="(max-width: 999px)"></div>
          <div data-src="<%= asset_path('featured/page-builder-1140.jpg') %>" data-media="(max-width: 999px) and (min-resolution: 192dpi),(-webkit-min-device-pixel-ramoz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 2dppx)"></div>
          <div data-src="<%= asset_path('featured/page-builder-1140.jpg') %>" data-media="(min-width: 1000px)"></div>
          <div data-src="<%= asset_path('featured/page-builder-1440.jpg') %>" data-media="(min-width: 1000px) and (min-resolution: 192dpi),(-webkit-min-device-pixel-ramoz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 2dppx)"></div>
          <div data-src="<%= asset_path('featured/page-builder-1440.jpg') %>" data-media="(min-width: 1280px)"></div>
          <div data-src="<%= asset_path('featured/page-builder-1600.jpg') %>" data-media="(min-width: 1440px)"></div>
          <div data-src="<%= asset_path('featured/page-builder-1600.jpg') %>" data-media="(min-width: 1280px) and (min-resolution: 192dpi),(-webkit-min-device-pixel-ramoz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 2dppx)"></div>
          <!--[if (lt IE 9) & (!IEMobile)]>
            <div data-src="<%= asset_path('featured/page-builder-800.jpg') %>"></div>
          -->
          <noscript>
            <img src="<%= asset_path('featured/page-builder-800.jpg') %>" alt="A fun and friendly page builder for every occasion">
          </noscript>
        </div>
        <div class="overlay">
          <p><a href="/how-it-works" class="buy">A fun and friendly page builder for every occasion. <em>Learn More</em></a></p>
        </div>
      </li>

    </ul>
  </div>
</section>

<section id="calls-to-action" class="container">
  <div class="block">
    <section class="video">
      <a data-toggle="modal" href="#promoVideo">
        <p>Watch our video</p>
      </a>
    </section>
    <section class="app">
      <a href="<%= go_path %>">
        <p>Get the Chipp&#8217;d app</p>
        <%= image_tag('iphone-chippd.png', :alt => "Chipp'd on iPhone") %>
      </a>
    </section>
    <section class="showcase">
      <a href="<%= showcase_example_path %>">
        <p>View a Chipp&#8217;d page</p>
        <small>(best viewed on your mobile device)</small>
      </a>
    </section>
  </div>
</section>

<%= render '/shared/video_modal' %>

<section id="features-intro" class="container">
  <div class="block">
    <div class="col12">
      <p>Smart gifts and greeting cards that let you share digital content with the people you choose.</p>
    </div>
  </div>
</section>

<section id="features" class="container">
  <div id="dropdown" class="block">
    <p>What do you want to share?</p>
    <span class="button dropdownTrigger">
      <span class="filter__lead">Something </span>
      <div class="filter__current">romantic</div>
      <div id="dropSelect" class="dropdownMenu">
        <ul>
<% @product_collections.each do |product_collection| %>
          <li><a href="#" data-filter-option="<%= product_collection._id %>"><%= product_collection.filter_text %></a></li>
<% end %>
        </ul>
      </div>
    </span>
    <div class="col12">
      <ul class="productList filter__items">
<% @products.each do |product| %>
        <li class="col4 <%= homepage_product_class(@product_collections, product) %>" data-filter-tags="<%= product.product_collection_id %>">
          <a href="<%= store_product_path(product) %>">
            <article class="product">
              <h1><%= product.name %></h1>
              <%= product.formatted_price %>
              <%= product.default_image.medium_image %>
            </article>
          </a>
        </li>
<% end %>
      </ul>
    </div>
  </div>
</section>