<section id="content" class="container media">
  <div class="block">
    <div class="col12">
      <h1>Media Room</h1>
      <p>You should find everything you need here, but don&#8217;t hesitate to <a href="<%= contact_us_path %>">contact us</a> if you need anything else.</p>
    </div>
  </div>
	<div class="block">
    <div class="col6">
      <h3>Everything</h3>
      <ul>
        <li><a href="<%= media_room_asset_url('chippd-presskit.zip') %>" class="zip">Download zip w/ all assets</a></li>
      </ul>

      <h3>Links</h3>
      <ul>
        <li><a href="https://vimeo.com/44437858" target="_blank">Promo Video</a></li>
        <li><a href="<%= faq_path %>" target="_blank">FAQs</a></li>
      </ul>

      <h3>Logo</h3>
      <ul class="logos">
        <li>Chipp&#8217;d - Purple <a href="<%= media_room_asset_url('logos/chippd-logo-purple.eps') %>">eps</a> <a href="<%= media_room_asset_url('logos/chippd-logo-purple.png') %>">png</a></li>
        <li>Chipp&#8217;d - Dark on light background <a href="<%= media_room_asset_url('logos/chippd-logo-dark.eps') %>">eps</a> <a href="<%= media_room_asset_url('logos/chippd-logo-dark.png') %>">png</a></li>
        <li>Chipp&#8217;d - White on dark background <a href="<%= media_room_asset_url('logos/chippd-logo-light.eps') %>">eps</a> <a href="<%= media_room_asset_url('logos/chippd-logo-light.png') %>">png</a></li>
        <li>&#8220;Made in NYC&#8221; logomark - Purple <a href="<%= media_room_asset_url('logos/chippd-made-in-nyc-purple.eps') %>">eps</a> <a href="<%= media_room_asset_url('logos/chippd-made-in-nyc-purple.png') %>">png</a></li>
        <li>&#8220;Made in NYC&#8221; logomark - White on purple <a href="<%= media_room_asset_url('logos/chippd-made-in-nyc-white-purple.eps') %>">eps</a> <a href="<%= media_room_asset_url('logos/chippd-made-in-nyc-white-purple.png') %>">png</a></li>
        <li>&#8220;Made in NYC&#8221; logomark - Dark on light background <a href="<%= media_room_asset_url('logos/chippd-made-in-nyc-dark.eps') %>">eps</a> <a href="<%= media_room_asset_url('logos/chippd-made-in-nyc-dark.png') %>">png</a></li>
        <li>&#8220;Made in NYC&#8221; logomark - White on dark background <a href="<%= media_room_asset_url('logos/chippd-made-in-nyc-light.eps') %>">eps</a> <a href="<%= media_room_asset_url('logos/chippd-made-in-nyc-light.png') %>">png</a></li>
        <li>App Icon <a href="<%= media_room_asset_url('logos/chippd-app-icon.png') %>">png</a></li>
      </ul>

      <h3>Screenshots of Site/App</h3>
      <ul>
        <li><a href="<%= media_room_asset_url('screenshots/Chippd_Page_Builder_1.png') %>" class="screenshot">Web: Page Builder #1</a></li>
        <li><a href="<%= media_room_asset_url('screenshots/Chippd_Page_Builder_2.png') %>" class="screenshot">Web: Page Builder #2</a></li>
      </ul>

      <ul>
        <li><a href="<%= media_room_asset_url('screenshots/chippd-ios-pages.jpg') %>" class="screenshot jpg">iPhone: My Chipps</a></li>
        <li><a href="<%= media_room_asset_url('screenshots/chippd-ios-scan.jpg') %>" class="screenshot jpg">iPhone: QR Reader</a></li>
        <li><a href="<%= media_room_asset_url('screenshots/chippd-ios-page1.jpg') %>" class="screenshot jpg">iPhone: Chipp&#8217;d Page #1</a></li>
        <li><a href="<%= media_room_asset_url('screenshots/chippd-ios-page2.jpg') %>" class="screenshot jpg">iPhone: Chipp&#8217;d Page #2</a></li>
        <li><a href="<%= media_room_asset_url('screenshots/chippd-ios-page3.jpg') %>" class="screenshot jpg">iPhone: Chipp&#8217;d Page #3</a></li>
        <li><a href="<%= media_room_asset_url('screenshots/chippd-ios-page4.jpg') %>" class="screenshot jpg">iPhone: Chipp&#8217;d Page #4</a></li>
        <li><a href="<%= media_room_asset_url('screenshots/chippd-ios-page5.jpg') %>" class="screenshot jpg">iPhone: Chipp&#8217;d Page #5</a></li>
        <li><a href="<%= media_room_asset_url('screenshots/baby-event-screenshot.png') %>" class="screenshot png">iPhone: Baby Event</a></li>
        <li><a href="<%= media_room_asset_url('screenshots/bridal-shower-screenshot.png') %>" class="screenshot png">iPhone: Bridal Shower</a></li>
        <li><a href="<%= media_room_asset_url('screenshots/wedding-screenshot.png') %>" class="screenshot png">iPhone: Wedding</a></li>
      </ul>

      <h3>Documents</h3>
      <ul>
        <li><a href="<%= media_room_asset_url('docs/Chippd_Catalog_2014.pdf') %>" class="pdf">Chipp&#8217;d 2014 Catalog</a></li>
        <li><a href="<%= media_room_asset_url('docs/Chippd_Launch_Release.pdf') %>" class="pdf">Chipp&#8217;d Launch Press Release</a></li>
        <li><a href="<%= media_room_asset_url('docs/Chippd_Founder_Bio.pdf') %>" class="pdf">Chipp&#8217;d Founder Bio</a></li>
      </ul>

      <h3>Company Photos</h3>
      <ul>
        <li><a href="<%= media_room_asset_url('portraits/chippd-omar-farha-1.jpg') %>" class="photo print">Omar Farha - Portrait #1</a></li>
        <li><a href="<%= media_room_asset_url('portraits/chippd-omar-farha-2.jpg') %>" class="photo print">Omar Farha - Portrait #2</a></li>
        <li><a href="<%= media_room_asset_url('portraits/chippd-omar-farha-2bw.jpg') %>" class="photo print">Omar Farha - Portrait #2 (B&amp;W)</a></li>
      </ul>
    </div>
    <div class="col6 end">

      <h3>Product Photos</h3>

        <h5>Bracelets</h5>
          <ul>
            <li><a href="<%= media_room_asset_url('bracelets/leather-purple-gunmetal-front.jpg') %>" class="photo print">Purple Leather - Front</a></li>
            <li><a href="<%= media_room_asset_url('bracelets/leather-purple-gunmetal-detail.jpg') %>" class="photo print">Purple Leather - Detail</a></li>
            <li><a href="<%= media_room_asset_url('bracelets/leather-purple-gunmetal-back.jpg') %>" class="photo print">Purple Leather - Back</a></li>
          </ul>

          <ul>
            <li><a href="<%= media_room_asset_url('bracelets/rayon-black-gold-front.jpg') %>" class="photo print">Black Twisted Rayon - Front</a></li>
            <li><a href="<%= media_room_asset_url('bracelets/rayon-black-gold-detail.jpg') %>" class="photo print">Black Twisted Rayon - Detail</a></li>
            <li><a href="<%= media_room_asset_url('bracelets/rayon-black-gold-back.jpg') %>" class="photo print">Black Twisted Rayon - Back</a></li>
          </ul>

          <ul>
            <li><a href="<%= media_room_asset_url('bracelets/cotton-black-silver-front.jpg') %>" class="photo print">Black Waxed Cotton - Front</a></li>
            <li><a href="<%= media_room_asset_url('bracelets/cotton-black-silver-detail.jpg') %>" class="photo print">Black Waxed Cotton - Detail</a></li>
            <li><a href="<%= media_room_asset_url('bracelets/cotton-black-silver-back.jpg') %>" class="photo print">Black Waxed Cotton - Back</a></li>
          </ul>

        <h5>Other Jewelry</h5>
          <ul>
            <li><a href="<%= media_room_asset_url('other-jewelry/heart-pendant-front.jpg') %>" class="photo print">Heart Pendant - Front</a></li>
            <li><a href="<%= media_room_asset_url('other-jewelry/heart-pendant-back.jpg') %>" class="photo print">Heart Pendant - Back</a></li>
          </ul>

          <ul>
            <li><a href="<%= media_room_asset_url('other-jewelry/keychain-on-keyring.jpg') %>" class="photo print">Keychain on Keyring</a></li>
            <li><a href="<%= media_room_asset_url('other-jewelry/keychain-front.jpg') %>" class="photo print">Keychain - Front</a></li>
            <li><a href="<%= media_room_asset_url('other-jewelry/keychain-back.jpg') %>" class="photo print">Keychain - Back</a></li>
          </ul>

        <h5>Greeting Cards</h5>
          <ul>
            <li><a href="<%= media_room_asset_url('greeting-cards/mustache-front.jpg') %>" class="photo print">Mustache - Front</a></li>
            <li><a href="<%= media_room_asset_url('greeting-cards/mustache-front-open.jpg') %>" class="photo print">Mustache - Front Open</a></li>
            <li><a href="<%= media_room_asset_url('greeting-cards/mustache-back.jpg') %>" class="photo print">Mustache - Back</a></li>
          </ul>

          <ul>
            <li><a href="<%= media_room_asset_url('greeting-cards/nesting-dolls-front.jpg') %>" class="photo print">Nesting Dolls - Front</a></li>
            <li><a href="<%= media_room_asset_url('greeting-cards/nesting-dolls-back.jpg') %>" class="photo print">Nesting Dolls - Back</a></li>
          </ul>

          <ul>
            <li><a href="<%= media_room_asset_url('greeting-cards/party-symbols-front.jpg') %>" class="photo print">Party Symbols - Front</a></li>
            <li><a href="<%= media_room_asset_url('greeting-cards/party-symbols-back.jpg') %>" class="photo print">Party Symbols - Back</a></li>
          </ul>

          <ul>
            <li><a href="<%= media_room_asset_url('greeting-cards/roses-front.jpg') %>" class="photo print">Roses - Front</a></li>
            <li><a href="<%= media_room_asset_url('greeting-cards/roses-front-open.jpg') %>" class="photo print">Roses - Front Open</a></li>
            <li><a href="<%= media_room_asset_url('greeting-cards/roses-back.jpg') %>" class="photo print">Roses - Back</a></li>
          </ul>

        <h5>Other Photos</h5>
          <ul>
            <li><a href="<%= media_room_asset_url('other-photos/baby-scene.jpg') %>" class="photo print">Baby Scene</a></li>
            <li><a href="<%= media_room_asset_url('other-photos/cards-with-code-and-video-playing.png') %>" class="screenshot">Cards With Code and Video Playing</a></li>
            <li><a href="<%= media_room_asset_url('other-photos/flock-scene.jpg') %>" class="photo print">Flock Scene</a></li>
            <li><a href="<%= media_room_asset_url('other-photos/love-scene.jpg') %>" class="photo print">Love Scene</a></li>
            <li><a href="<%= media_room_asset_url('other-photos/party-scene.jpg') %>" class="screenshot">Party Scene</a></li>
            <li><a href="<%= media_room_asset_url('other-photos/party-cards-with-phone.png') %>" class="screenshot">Party Cards with Phone</a></li>
            <li><a href="<%= media_room_asset_url('other-photos/story-scene.jpg') %>" class="photo print">Story Scene</a></li>
            <li><a href="<%= media_room_asset_url('other-photos/wedding-scene.jpg') %>" class="photo print">Wedding Scene</a></li>
            <li><a href="<%= media_room_asset_url('other-photos/wedding-invite-with-phone.png') %>" class="screenshot">Wedding Invite with Phone</a></li>
          </ul>
        <br>
    </div>
  </div>
</section>