<div class="row">
  <div class="span12">
    <%= ariane.render %>
  </div>
</div>

<div class="alert alert-block push">
  <a class="close" data-dismiss="alert">×</a>
  <h4 class="alert-heading">Important!</h4>
  In order for a detail to display on the site, it must have at least one option.
</div>

<div class="btn-group push">
  <%= link_to(admin_product_detail_options_path(parent, resource), :class => "btn") do %>
    Manage Options
    <span class="badge"><%= resource.options.length %></span>
  <% end %>
</div>

<%= simple_form_for resource, :url => resource_path(resource), :html => { :multipart => true } do |form| %>
  <%= render :partial => 'form', :locals => { :form => form } %>
  <%= form.error :base %>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary" data-loading-text="saving...">Save changes</button>
    <%= link_to("Cancel", collection_path, :class => 'btn') %>
  </div>
<% end %>
