<!doctype html>
<!--[if IE 7]> <html class="no-js ie7 ie" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 ie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title><%= raw(configatron.application.name) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <%= stylesheet_link_tag "chippd_page" %>
  <%= csrf_meta_tags %>
  <%= render '/layouts/modernizr_selectivizr' %>

  <!-- TYPEKIT -->
  <script type="text/javascript" src="https://use.typekit.com/twd3fhe.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <%= sublime_video_javascript_include_tag %>
</head>
<body>
  <div class="wrapper">
    <%= yield %>
  </div><!-- /.wrapper -->

  <footer>
    <a href="<%= root_path %>" id="logo"><%= image_tag('chippdpage-logo-alt.png', :alt => "Chipp'd") %></a>
  </footer>

  <%= google_analytics_tracking_code %>
</body>
</html>
